openapi: 3.2.0
info:
  title: MyFatoorah Sessions API
  description: MyFatoorah is a GCC/MENA online payment gateway and invoicing platform.
  version: '2.0'
  contact:
    name: MyFatoorah
    url: https://myfatoorah.com
  x-api-version-note: MyFatoorah versions its REST endpoints under a /v2 path prefix. There is no documented public WebSocket API; asynchronous notifications are delivered as HTTP POST webhooks to a merchant-configured URL.
servers:
- url: https://apitest.myfatoorah.com/v2
  description: Test / Sandbox (shared, all regions)
- url: https://api.myfatoorah.com/v2
  description: Live - Kuwait, Bahrain, Jordan, Oman
- url: https://api-sa.myfatoorah.com/v2
  description: Live - Saudi Arabia
- url: https://api-ae.myfatoorah.com/v2
  description: Live - United Arab Emirates
- url: https://api-qa.myfatoorah.com/v2
  description: Live - Qatar
- url: https://api-eg.myfatoorah.com/v2
  description: Live - Egypt
security:
- bearerAuth: []
tags:
- name: Sessions
  description: Embedded card-entry sessions and saved-card tokens.
paths:
  /InitiateSession:
    post:
      operationId: initiateSession
      tags:
      - Sessions
      summary: Create an embedded card-entry session
      description: Creates a session for the embedded/hosted card component so card data is entered client-side and never touches the merchant server. MODELED representative shape.
      x-status: modeled
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                CustomerIdentifier:
                  type: string
      responses:
        '200':
          description: Session created (SessionId, CountryCode).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CancelToken:
    post:
      operationId: cancelToken
      tags:
      - Sessions
      summary: Remove a saved-card token
      description: Deletes a stored card token associated with a customer. MODELED representative shape.
      x-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Token:
                  type: string
      responses:
        '200':
          description: Token cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    GenericResponse:
      type: object
      description: MyFatoorah standard envelope shared by all endpoints.
      properties:
        IsSuccess:
          type: boolean
        Message:
          type: string
        ValidationErrors:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              Name:
                type: string
              Error:
                type: string
        Data:
          type:
          - object
          - 'null'
  responses:
    Unauthorized:
      description: Missing, invalid, or insufficiently-permissioned token. MyFatoorah returns 401 with a message such as "The token does not have the required permissions!".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Per-country API token issued from the MyFatoorah portal (Integration Settings -> API Key). Passed as `Authorization: Bearer {token}`. Each enabled country requires its own token.'
