openapi: 3.0.3
info:
  title: MyFatoorah API
  description: >-
    MyFatoorah is a GCC/MENA online payment gateway and invoicing platform. This
    OpenAPI document models a representative subset of the MyFatoorah v2 REST API:
    payment method discovery (InitiatePayment), invoice creation against a gateway
    (ExecutePayment), payment-link invoicing (SendPayment), payment status inquiry
    (GetPaymentStatus), refunds (MakeRefund), embedded sessions, marketplace
    suppliers, shipping, recurring payments, and webhook retrieval.


    Access model: MyFatoorah uses a single shared TEST/sandbox host and separate
    per-country LIVE hosts (Kuwait/Bahrain/Jordan/Oman share one host; Saudi
    Arabia, UAE, Qatar, and Egypt each have their own). All requests are
    authenticated with a Bearer API token issued per country from the merchant
    portal (Integration Settings -> API Key). The `servers` list below enumerates
    the real hosts; pick the one matching your account's country.


    Endpoint status: InitiatePayment, ExecutePayment, SendPayment,
    GetPaymentStatus, and MakeRefund are CONFIRMED from the public documentation
    (method, path, and core request/response fields). Remaining operations
    (sessions, suppliers, shipping, recurring, webhooks, supplier refunds, token
    cancellation) are documented by name and follow MyFatoorah's `/v2/<Endpoint>`
    POST convention; their request/response schemas here are MODELED
    representative shapes and are marked with `x-status: modeled`. Verify exact
    fields against docs.myfatoorah.com before production use.
  version: '2.0'
  contact:
    name: MyFatoorah
    url: https://myfatoorah.com
  x-api-version-note: >-
    MyFatoorah versions its REST endpoints under a /v2 path prefix. There is no
    documented public WebSocket API; asynchronous notifications are delivered as
    HTTP POST webhooks to a merchant-configured URL.
servers:
  - url: https://apitest.myfatoorah.com/v2
    description: Test / Sandbox (shared, all regions)
  - url: https://api.myfatoorah.com/v2
    description: Live - Kuwait, Bahrain, Jordan, Oman
  - url: https://api-sa.myfatoorah.com/v2
    description: Live - Saudi Arabia
  - url: https://api-ae.myfatoorah.com/v2
    description: Live - United Arab Emirates
  - url: https://api-qa.myfatoorah.com/v2
    description: Live - Qatar
  - url: https://api-eg.myfatoorah.com/v2
    description: Live - Egypt
security:
  - bearerAuth: []
tags:
  - name: Payments
    description: Discover payment methods and execute payments against a gateway.
  - name: Invoicing
    description: Create invoices and payment links.
  - name: Payment Status
    description: Inquire on invoice and transaction status.
  - name: Refunds
    description: Full and partial refunds.
  - name: Sessions
    description: Embedded card-entry sessions and saved-card tokens.
  - name: Suppliers
    description: Marketplace supplier onboarding and split settlement.
  - name: Shipping
    description: Shipping lookups, charges, and pickups.
  - name: Recurring
    description: Recurring card payment management.
  - name: Webhooks
    description: Retrieve webhook events triggered by MyFatoorah.
paths:
  /InitiatePayment:
    post:
      operationId: initiatePayment
      tags:
        - Payments
      summary: List enabled payment methods and service charges
      description: >-
        Optional pre-step that returns all payment methods enabled on the
        account for a given amount and currency, including each method's service
        charge and total amount. CONFIRMED from public documentation.
      x-status: confirmed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymentRequest'
      responses:
        '200':
          description: Available payment methods.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiatePaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ExecutePayment:
    post:
      operationId: executePayment
      tags:
        - Payments
      summary: Create an invoice against a gateway and get a PaymentURL
      description: >-
        Creates a MyFatoorah invoice against a chosen payment method (or an
        embedded SessionId) and returns a hosted PaymentURL to redirect the
        customer to (or to submit card details to for direct payment). CONFIRMED
        from public documentation.
      x-status: confirmed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutePaymentRequest'
      responses:
        '200':
          description: Invoice created; PaymentURL returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutePaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /SendPayment:
    post:
      operationId: sendPayment
      tags:
        - Invoicing
      summary: Create an invoice and generate a payment link
      description: >-
        Creates a MyFatoorah invoice and generates a shareable InvoiceURL,
        optionally delivered to the customer by email, SMS, or link. CONFIRMED
        from public documentation.
      x-status: confirmed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendPaymentRequest'
      responses:
        '200':
          description: Invoice created; InvoiceURL returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendPaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /GetPaymentStatus:
    post:
      operationId: getPaymentStatus
      tags:
        - Payment Status
      summary: Inquire on invoice/payment status
      description: >-
        Verifies whether an invoice was paid and returns its transactions, keyed
        by InvoiceId, PaymentId, or CustomerReference. CONFIRMED from public
        documentation.
      x-status: confirmed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaymentStatusRequest'
      responses:
        '200':
          description: Invoice status and transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /MakeRefund:
    post:
      operationId: makeRefund
      tags:
        - Refunds
      summary: Issue a full or partial refund
      description: >-
        Refunds a paid invoice or payment, in full or partially, with an
        optional comment and external identifier. CONFIRMED from public
        documentation.
      x-status: confirmed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeRefundRequest'
      responses:
        '200':
          description: Refund created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MakeRefundResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /GetRefundStatus:
    post:
      operationId: getRefundStatus
      tags:
        - Refunds
      summary: Track refund processing status
      description: >-
        Returns the processing status of a previously requested refund. MODELED
        - endpoint is documented by name; request/response shapes here are
        representative.
      x-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                KeyType:
                  type: string
                  enum: [InvoiceId, PaymentId, RefundId]
                Key:
                  type: string
      responses:
        '200':
          description: Refund status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /MakeSupplierRefund:
    post:
      operationId: makeSupplierRefund
      tags:
        - Refunds
      summary: Refund with supplier apportionment
      description: >-
        Issues a refund on a marketplace invoice, deducting the supplier's
        portion. MODELED representative shape.
      x-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Supplier refund created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /InitiateSession:
    post:
      operationId: initiateSession
      tags:
        - Sessions
      summary: Create an embedded card-entry session
      description: >-
        Creates a session for the embedded/hosted card component so card data is
        entered client-side and never touches the merchant server. MODELED
        representative shape.
      x-status: modeled
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                CustomerIdentifier:
                  type: string
      responses:
        '200':
          description: Session created (SessionId, CountryCode).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CancelToken:
    post:
      operationId: cancelToken
      tags:
        - Sessions
      summary: Remove a saved-card token
      description: >-
        Deletes a stored card token associated with a customer. MODELED
        representative shape.
      x-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Token:
                  type: string
      responses:
        '200':
          description: Token cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /GetSuppliers:
    post:
      operationId: getSuppliers
      tags:
        - Suppliers
      summary: List marketplace suppliers
      description: >-
        Returns the suppliers configured on the account for split settlement.
        MODELED representative shape.
      x-status: modeled
      responses:
        '200':
          description: Suppliers list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /GetCities:
    post:
      operationId: getCities
      tags:
        - Shipping
      summary: List cities for a country
      description: >-
        Retrieves cities belonging to a country for shipping address selection.
        MODELED representative shape.
      x-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                CountryCode:
                  type: string
                ShippingMethod:
                  type: integer
      responses:
        '200':
          description: Cities list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /GetRecurringPayment:
    post:
      operationId: getRecurringPayment
      tags:
        - Recurring
      summary: Retrieve a recurring payment record
      description: >-
        Returns details of a recurring card payment schedule. MODELED
        representative shape.
      x-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RecurringId:
                  type: string
      responses:
        '200':
          description: Recurring payment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CancelRecurringPayment:
    post:
      operationId: cancelRecurringPayment
      tags:
        - Recurring
      summary: Cancel a recurring payment schedule
      description: >-
        Stops future cycles of a recurring card payment. MODELED representative
        shape.
      x-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RecurringId:
                  type: string
      responses:
        '200':
          description: Recurring payment cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /GetWebhooks:
    post:
      operationId: getWebhooks
      tags:
        - Webhooks
      summary: Retrieve triggered webhook events
      description: >-
        Returns webhook events MyFatoorah has triggered for the account.
        MyFatoorah delivers notifications as HTTP POST callbacks to a
        merchant-configured endpoint; there is no WebSocket transport. MODELED
        representative shape.
      x-status: modeled
      responses:
        '200':
          description: Webhook events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Per-country API token issued from the MyFatoorah portal (Integration
        Settings -> API Key). Passed as `Authorization: Bearer {token}`. Each
        enabled country requires its own token.
  responses:
    Unauthorized:
      description: >-
        Missing, invalid, or insufficiently-permissioned token. MyFatoorah
        returns 401 with a message such as "The token does not have the required
        permissions!".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericResponse'
  schemas:
    GenericResponse:
      type: object
      description: MyFatoorah standard envelope shared by all endpoints.
      properties:
        IsSuccess:
          type: boolean
        Message:
          type: string
        ValidationErrors:
          type: array
          nullable: true
          items:
            type: object
            properties:
              Name:
                type: string
              Error:
                type: string
        Data:
          type: object
          nullable: true
    InvoiceItem:
      type: object
      properties:
        ItemName:
          type: string
        Quantity:
          type: number
        UnitPrice:
          type: number
    InitiatePaymentRequest:
      type: object
      required:
        - InvoiceAmount
        - CurrencyIso
      properties:
        InvoiceAmount:
          type: number
          description: Transaction amount after discounts, taxes, and adjustments.
        CurrencyIso:
          type: string
          description: ISO currency code (e.g., KWD, SAR, AED, QAR, EGP).
          example: KWD
    InitiatePaymentResponse:
      allOf:
        - $ref: '#/components/schemas/GenericResponse'
        - type: object
          properties:
            Data:
              type: object
              properties:
                PaymentMethods:
                  type: array
                  items:
                    type: object
                    properties:
                      PaymentMethodId:
                        type: integer
                      PaymentMethodEn:
                        type: string
                      PaymentMethodAr:
                        type: string
                      ServiceCharge:
                        type: number
                      TotalAmount:
                        type: number
                      IsDirectPayment:
                        type: boolean
                      IsEmbeddedSupported:
                        type: boolean
    ExecutePaymentRequest:
      type: object
      required:
        - InvoiceValue
      properties:
        PaymentMethodId:
          type: integer
          description: >-
            Gateway identifier from InitiatePayment (e.g., 2 for Visa/Mastercard).
            Required unless SessionId is provided.
        SessionId:
          type: string
          description: Embedded session id. Provide instead of PaymentMethodId.
        InvoiceValue:
          type: number
          description: Amount to charge; accepts decimals.
        CallBackUrl:
          type: string
          maxLength: 254
          description: Success redirect URL. localhost not allowed.
        ErrorUrl:
          type: string
          maxLength: 254
          description: Failure redirect URL. localhost not allowed.
        CustomerName:
          type: string
        DisplayCurrencyIso:
          type: string
        CustomerEmail:
          type: string
        CustomerMobile:
          type: string
        InvoiceItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
    ExecutePaymentResponse:
      allOf:
        - $ref: '#/components/schemas/GenericResponse'
        - type: object
          properties:
            Data:
              type: object
              properties:
                InvoiceId:
                  type: integer
                PaymentURL:
                  type: string
                CustomerReference:
                  type: string
    SendPaymentRequest:
      type: object
      required:
        - InvoiceValue
        - CustomerName
        - NotificationOption
      properties:
        InvoiceValue:
          type: number
        CustomerName:
          type: string
        NotificationOption:
          type: string
          description: Delivery channel for the invoice link.
          enum: [EML, SMS, LNK, ALL]
        CustomerMobile:
          type: string
          description: Required when NotificationOption is SMS or ALL.
        CustomerEmail:
          type: string
          description: Required when NotificationOption is EML or ALL.
        DisplayCurrencyIso:
          type: string
        CallBackUrl:
          type: string
        ErrorUrl:
          type: string
        CustomerReference:
          type: string
        InvoiceItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
    SendPaymentResponse:
      allOf:
        - $ref: '#/components/schemas/GenericResponse'
        - type: object
          properties:
            Data:
              type: object
              properties:
                InvoiceId:
                  type: integer
                InvoiceURL:
                  type: string
                CustomerReference:
                  type: string
    GetPaymentStatusRequest:
      type: object
      required:
        - Key
        - KeyType
      properties:
        Key:
          type: string
          description: Invoice number, payment id, or customer reference value.
        KeyType:
          type: string
          enum: [InvoiceId, PaymentId, CustomerReference]
    GetPaymentStatusResponse:
      allOf:
        - $ref: '#/components/schemas/GenericResponse'
        - type: object
          properties:
            Data:
              type: object
              properties:
                InvoiceId:
                  type: integer
                InvoiceStatus:
                  type: string
                  enum: [Pending, Paid, Canceled]
                InvoiceValue:
                  type: number
                CustomerReference:
                  type: string
                InvoiceTransactions:
                  type: array
                  items:
                    type: object
                    properties:
                      TransactionId:
                        type: string
                      PaymentGateway:
                        type: string
                      TransactionStatus:
                        type: string
                      PaidCurrency:
                        type: string
                      PaidCurrencyValue:
                        type: number
                      Card:
                        type: string
                        description: Masked card number when applicable.
                      Error:
                        type: string
                        nullable: true
    MakeRefundRequest:
      type: object
      required:
        - KeyType
        - Key
        - Amount
      properties:
        KeyType:
          type: string
          enum: [InvoiceId, PaymentId]
        Key:
          type: string
        Amount:
          type: number
          description: Refund amount (full or partial).
        Comment:
          type: string
        ServiceChargeOnCustomer:
          type: boolean
        ExternalIdentifier:
          type: string
          description: External data linked to the refund; echoed in webhooks.
        AmountDeductedFromSupplier:
          type: number
    MakeRefundResponse:
      allOf:
        - $ref: '#/components/schemas/GenericResponse'
        - type: object
          properties:
            Data:
              type: object
              properties:
                Key:
                  type: string
                RefundId:
                  type: integer
                RefundReference:
                  type: string
                RefundInvoiceId:
                  type: string
                Amount:
                  type: number
                Comment:
                  type: string
                ExternalIdentifier:
                  type: string
